
div.container {
    display: flex;
    justify-content: flex-start;
    height: 30px;
    width: 500px;
    background-color: aliceblue;
}


.progress-bar {
   background-color: red;
   height: 100%;
   width: 30%;
   display: flex;
   align-items: center; 
   justify-content: center;
}